<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form class="" action="/register" method="post">
      <input type="text" name="username" value=""  placeholder="username">
      <input type="password" name="pswd" value="" placeholder="password">
      <input type="submit" name="" value="">
    </form>
    <br><br>
    <form class="" action="/image" enctype="multipart/form-data" method="post">
      <input type="file" name="imagefile" value="">
      <input type="submit" name="" value="">
    </form>
    <br><br>
    <form class="" action="/form" method="post">
      username<input type="text" name="username" value="">      
      actual_item <input type="text" name="actual_item" value="">
      cost <input type="text" name="cost" value="">
      date <input type="text" name="date" value="">
      <input type="submit" name="" value="submit">
    </form>
  </body>
</html>
